.gallery {

    margin: 120px 0;

    .content {
        box-sizing: border-box;
        text-align: center;
        border: 1px solid #000;
        border-radius: 10px;
        transition: .4s;

        img {
            width: 200px;
            height: 200px;
            text-align: center;
            margin: 0 auto;
            display: block;
            object-fit: cover;
        }

        h3 {
            text-align: center;
            font-size: 30px;
            margin: 0;
            padding-top: 10px;
        }

        p {
            text-align: center;
            color: #b2bec3;
            padding: 0 8px;
        }

        h6 {
            font-size: 26px;
            text-align: center;
            color: #222f3e;
            margin: 0;
        }

        button {
            text-align: center;
            font-size: 24px;
            color: rgb(0, 0, 0);
            background-color: #fff;
            width: 100%;
            outline: none;
            border: none;
            cursor: pointer;
            margin-top: 5px;
        }

        .buy-1 {
            background-color: #2183a2;
        }
    }
}



//PRODUCTOS EN EL CARRITO
.carrito {

    margin-top: 120px;

    h2 {
        text-align: center;
    }


    .mas,
    .menos {
        width: 15px;
        margin: 0 13px;
    }

    th {
        text-align: center;
        padding: 5px;
    }

    td {
        padding: 10px 50px;
        text-transform: uppercase;
        text-align: center;
    }

    .productoInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            width: 70px;
            height: 70px;
        }
    }


}